<div class="event">
    <div class="label">
        <i class="envelope icon"></i>
    </div>
    <div class="content">
        <div class="date">{{format_date created_at}}</div>
        <div class="summary">
            <a href="/dashboard/edit/{{id}}">

                <p>test</p>

            </a>
        </div>
    </div>
</div>