<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="seven wide column">
          <h4 class="ui inverted header">Maryze <span>&copy; 2023</h4>
          <h4 class="ui inverted header">2023 Designed, Coded, and 🌳 Cultivated by Team ONE ™ </h4>
        </div>
      </div>
    </div>
  </div>