<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui center aligned stackable inverted divided equal height stackable grid">
      <div class="seven wide column">
        <h4 class="ui inverted header"><a href="https://cover-letter-generator-3000-7a5be5cf3592.herokuapp.com/"
            target="_blank" rel="noreferrer">Maryze </a><span>&copy; 2023 Designed, Coded, and 🌳 Cultivated by Team ONE
            ™
          </span></h4>
      </div>
    </div>
  </div>
</div>
