<div class="ui form padding-100">
  <div class="grouped fields">
    {{!-- Update Input below --}}
    <div class="field">
      <!--Update Account Name-->
      <label class="text-light">Update Account Name</label>
      <input type="text" id="accountName" placeholder="Current Account Name: {{ userInfo.username }}" required>
    </div>
    <!-- Update Password -->


    <div class="ui form success">
      <div class="field">
        <!-- Enter New Password -->
        <label class="text-light">New Password</label>
        <input type="password" id="newPassword" placeholder="New Password" required>
      </div>
      <div class="field">
        <!-- Enter New Password -->
        <label class="text-light">Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Confirm New Password" required>
      </div>

    </div>
  </div>



  <button class="ui primary button" type="submit" id="submit">Update</button>
  <button class="ui primary button" type="delete" id="deleteAccount">Delete Account</button>
</div>

</div>
</div>

<script src="/js/account_update.js"></script>