<div class="ui container">
<div class="ui mt-3">
<div class="ui form padding-100">
  <div class="grouped fields">
    {{!-- Update Input below --}}
    <div class="field">
      <!--Update Account Name-->
      <label class="text-light">Update Account Name</label>
      <input type="text" id="accountName" placeholder="Current Account Name: {{ userInfo.username }}"
        value="{{ userInfo.username }}" required>
    </div>
    <div class="ui hidden" data-user-id="{{userInfo.id}}" id="userID">

    </div>
    <div class="field">
      <!-- Update Password -->
      {{!-- Confirm old password --}}
      <label class="text-light">Current Password</label>
      <input type="password" id="oldPassword" placeholder="Old Password" required>
    </div>
    <div class="ui form success">
      <div class="field">
        <!-- Enter New Password -->
        <label class="text-light">New Password</label>
        <input type="password" id="newPassword" placeholder="New Password length must be 6+" required>
      </div>
      <div class="field">
        <!-- Enter New Password -->
        <label class="text-light">Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Confirm New Password Above" required>
      </div>

    </div>
  </div>


  <div class="ui row">
  <button class="btn btn-info mx-auto col-3 mt-3" type="button" id="updateAccount">Update Account</button>
  <button class="btn btn-danger mx-auto col-3 mt-3" type="button" id="deleteAccount">Delete Account</button>
  </div>
</div>

</div>
</div>

<script src="/js/account_update.js"></script>
<script src="/js/account_delete.js"></script>