<div class="ui form padding-100">
  <div class="grouped fields">
    {{!-- Update Input below --}}
    <div class="field">
      <!--Update Account Name-->
      <label>Update Account Name</label>
      <input type="text" id="accountName" placeholder="Current Account Name: {{ userInfo.username }}"
        value="{{ userInfo.username }}" required>
    </div>
    <div class="ui hidden" data-user-id="{{userInfo.id}}" id="userID">

    </div>
    {{!-- <div class="field"> --}}
      <!-- Update Password -->
      {{!-- Confirm old password --}}
      {{!-- <label>Current Password</label>
      <input type="password" id="oldPassword" placeholder="Old Password" required>
    </div> --}}
    <div class="ui form success">
      <div class="field">
        <!-- Enter New Password -->
        <label>New Password</label>
        <input type="password" id="newPassword" placeholder="New Password length must be 6+" required>
      </div>
      <div class="field">
        <!-- Enter New Password -->
        <label>Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Confirm New Password Above" required>
      </div>

    </div>
  </div>



  <button class="ui primary button" type="submit" id="submit">Update</button>
  <button class="ui primary button" type="delete" id="deleteAccount">Delete Account</button>
</div>

</div>
</div>

<script src="/js/account_update.js"></script>
<script src="/js/account_delete.js"></script>