<div class="ui form">
  <div class="fields">
    <div class="field">
    <!-- Full Name -->
      <label>First and Last Name</label>
      <input type="text" placeholder="First and Last Name">
    </div>
    <div class="ui form success">
  <div class="field">
    <!-- Email -->
    <label>E-mail</label>
    <input type="email" placeholder="joe@schmoe.com">
  </div>
  <div class="field">
    <!-- Company Name -->
    <label>What Company is receiving this CV?</label>
    <input type="email" placeholder="Company Name">
  </div>
  <div class="field">
    <!-- Position Title -->
    <label>What position are you applying for?</label>
    <input type="email" placeholder="job-title">
  </div>
  <!-- Work Experience -->
  <div class="ui form">
  <div class="grouped fields">
    <label for="fruit">Years of Relevant Work Experience:</label>
    <div class="field">
      <div class="ui radio checkbox checked">
        <input type="radio" name="wexp" checked="" tabindex="0" class="hidden">
        <label> Less than 1 year </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="wexp" tabindex="0" class="hidden">
        <label> 1+ Years</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="wexp" tabindex="0" class="hidden">
        <label> 3+ Years</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="wexp" tabindex="0" class="hidden">
        <label> 5+ years </label>
      </div>
    </div>
    </div>
    <!-- Education -->
    <div class="ui form">
  <div class="grouped fields">
    <label for="fruit">Education:</label>
    <div class="field">
      <div class="ui radio checkbox checked">
        <input type="radio" name="educ" checked="" tabindex="0" class="hidden">
        <label> High School Diploma </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="educ" tabindex="0" class="hidden">
        <label> Associates Degree </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="educ" tabindex="0" class="hidden">
        <label> Bachelors Degree </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="educ" tabindex="0" class="hidden">
        <label> Masters Degree </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="educ" tabindex="0" class="hidden">
        <label> Doctorate/PHD </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="educ" tabindex="0" class="hidden">
        <label> Relevant Certification or Trade Degree </label>
      </div>
    </div>
  </div>
  <!-- Skill Set 1-->
  <div class="ui form">
  <div class="inline fields">
    <label for="fruit">Select your favorite fruit:</label>
    <div class="field">
      <div class="ui radio checkbox checked">
        <input type="radio" name="skillset" checked="" tabindex="0" class="hidden">
        <label>Apples</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Oranges</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Pears</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Grapefruit</label>
      </div>
    </div>
  </div>
  <!-- Skill Set 1-->
  <div class="ui form">
  <div class="inline fields">
    <label for="skillset">Select Top 3 Skills #1:</label>
    <div class="field">
      <div class="ui radio checkbox checked">
        <input type="radio" name="skillset" checked="" tabindex="0" class="hidden">
        <label>Problem Solving</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Data Analytics</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Communication and Teamwork</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Programming Languages</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Leadership/Management</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Cyber Security</label>
      </div>
    </div>
  </div>
  <!-- Skill Set 2-->
  <div class="ui form">
  <div class="inline fields">
    <label for="skillset">Select Top 3 Skills #1:</label>
    <div class="field">
      <div class="ui radio checkbox checked">
        <input type="radio" name="skillset" checked="" tabindex="0" class="hidden">
        <label>Problem Solving</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Data Analytics</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Communication and Teamwork</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Programming Languages</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Leadership/Management</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Cyber Security</label>
      </div>
    </div>
  </div>
  <!-- Skill Set 3-->
  <div class="ui form">
  <div class="inline fields">
    <label for="skillset">Select Top 3 Skills #1:</label>
    <div class="field">
      <div class="ui radio checkbox checked">
        <input type="radio" name="skillset" checked="" tabindex="0" class="hidden">
        <label>Problem Solving</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Data Analytics</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Communication and Teamwork</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Programming Languages</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Leadership/Management</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="skillset" tabindex="0" class="hidden">
        <label>Cyber Security</label>
      </div>
    </div>
  </div>
  
  
    
  <button class="ui primary button" type="submit" href="/dashboard" class="{{isActive}} item">Submit</button>
</div>

  </div>
</div>

