<div class="ui container">
<div class="ui mt-3">
<div class="ui form padding-100">
  <div class="grouped fields">
    <div class="field">
      <!--cover letter name-->
      <label class="text-light">Doc Name</label>
      <input type="text" id="coverName" placeholder="Doc Name" required>
    </div>
    <div class="field">
      <!-- Full Name -->
      <label class="text-light">First and Last Name</label>
      <input type="text" id="fullName" placeholder="First and Last Name" required>
    </div>
    <div class="ui form success">
      <div class="field">
        <!-- Email -->
        <label class="text-light">E-mail</label>
        <input type="email" id="email" placeholder="joe@schmoe.com" required>
      </div>
      <div class="field">
        <!-- Company Name -->
        <label class="text-light">What Company is receiving this CV?</label>
        <input type="text" id="company" placeholder="Company Name" required>
      </div>
      <div class="field">
        <!-- Position Title -->
        <label class="text-light">What position are you applying for?</label>
        <input type="text" id="position" placeholder="job-title" required>
      </div>
      <!-- Work Experience -->
      <div class="ui form">
        <div class="grouped fields">
          <label for="wexp" class="text-light">Years of Relevant Work Experience:</label>
          <div class="field">
            <div class="ui radio checkbox checked">
              <input type="radio" name="wexp" checked="" tabindex="0" value="under 1 year">
              <label class="text-light"> Less than 1 year </label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="wexp" tabindex="0" value="1+ year">
              <label class="text-light"> 1+ Years</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="wexp" tabindex="0" value="3+ years">
              <label class="text-light"> 3+ Years</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="wexp" tabindex="0" value="5+ years">
              <label class="text-light"> 5+ years </label>
            </div>
          </div>
        </div>
        <!-- Education -->
        <div class="ui form">
          <div class="grouped fields">
            <label for="educ" class="text-light">Education:</label>
            <div class="field">
              <div class="ui radio checkbox checked">
                <input type="radio" name="educ" checked="" tabindex="0" value="a high school diploma">
                <label class="text-light"> High School Diploma </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="educ" tabindex="0" value="an Associates Degree">
                <label class="text-light"> Associates Degree </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="educ" tabindex="0" value="a Bachelors Degree">
                <label class="text-light"> Bachelors Degree </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="educ" tabindex="0" value="a Masters Degree">
                <label class="text-light"> Masters Degree </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="educ" tabindex="0" value="a Doctorate I.e PHD">
                <label class="text-light"> Doctorate I.e PHD </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="educ" tabindex="0" value="relevant certification/trade degree">
                <label class="text-light"> Relevant Certification or Trade Degree </label>
              </div>
            </div>
          </div>

          <!-- Skill Set 1-->
          <div class="ui form">
            <div class="grouped fields">
              <label for="skillset1" class="text-light"> Select Top 3 Skills #1:</label>
              <div class="field">
                <div class="ui radio checkbox checked">
                  <input type="radio" name="skillset" checked="" tabindex="0" value="problem solving">
                  <label class="text-light">Problem Solving </label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="skillset" tabindex="0" value="data analytics">
                  <label class="text-light">Data Analytics </label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="skillset" tabindex="0" value="communication and teamwork">
                  <label class="text-light">Communication and Teamwork </label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="skillset" tabindex="0" value="programming languages">
                  <label class="text-light">Programming Languages </label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="skillset" tabindex="0" value="leadership/management">
                  <label class="text-light">Leadership/Management </label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="skillset" tabindex="0" value="cyber security">
                  <label class="text-light">Cyber Security </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Skill Set 2-->
        <div class="ui form">
          <div class="grouped fields">
            <label for="skillset2" class="text-light"> Select Top 3 Skills #2:</label>
            <div class="field">
              <div class="ui radio checkbox checked">
                <input type="radio" name="skillset2" checked="" tabindex="0" value="problem solving">
                <label class="text-light">Problem Solving </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="skillset2" tabindex="0" value="data analytics">
                <label class="text-light">Data Analytics </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="skillset2" tabindex="0" value="communication and teamwork">
                <label class="text-light">Communication and Teamwork </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="skillset2" tabindex="0" value="programming languages">
                <label class="text-light">Programming Languages </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="skillset2" tabindex="0" value="leadership/management">
                <label class="text-light">Leadership/Management </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="skillset2" tabindex="0" value="cyber security">
                <label class="text-light">Cyber Security </label>
              </div>
            </div>
          </div>
        </div>
        <!-- Skill Set 3-->
        <div class="ui form">
          <div class="grouped fields">
            <label for="skillset3" class="text-light"> Select Top 3 Skills #3:</label>
            <div class="field">
              <div class="ui radio checkbox checked">
                <input type="radio" name="skillset3" checked="" tabindex="0" value="problem solving">
                <label class="text-light">Problem Solving </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="skillset3" tabindex="0" value="data analytics">
                <label class="text-light">Data Analytics </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="skillset3" tabindex="0" value="communication and teamwork">
                <label class="text-light">Communication and Teamwork </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="skillset3" tabindex="0" value="programming languages">
                <label class="text-light">Programming Languages </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="skillset3" tabindex="0" value="leadership/management">
                <label class="text-light">Leadership/Management </label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="skillset3" tabindex="0" value="cyber security">
                <label class="text-light">Cyber Security </label>
              </div>
            </div>
          </div>
          <button class="ui bg-info massive button center mb-5" type="submit" id="submit">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/create-cv.js"></script>