<a class="ui button" href="/dashboard/create" class="{{isActive}} item">
  Create CV
</a>
<div class="ui column">
  <div class="ui card" style="padding:1em">
    <h2>Your Cover Letters!:</h2>
    <div class="ui feed" id="blog-feed">
      {{#if covers.length}}
      {{#each covers as |letter|}}
      {{>dashletter letter}}
      {{/each}}
      {{/if}}
    </div>
  </div>
</div>