<button class="ui button" href="/create-cv" class="{{isActive}} item">
  Create CV
</button>
<div class="column">
  <div class="ui card" style="padding:1em">
    <h2>Your Cover Letters!:</h2>
    <div class="ui feed" id="blog-feed">
      {{#unless users}}
      <p>Nothing Here Yet.</p>
      <p>Click Create CV button to get started!</p>
      {{/unless}}
      {{#each users}}
      {{#each Letters}}
      <div class="event">
        <div class="content">
          <div class="summary">
            <a href="javascript:void(0)" onclick="showLetters('{{id}}')">{{Letters}}</a>
            <div class="date">{{formatDate letters_date}}</div>
          </div>
        </div>
      </div>
      {{/each}}
      {{/each}}
    </div>
  </div>
</div>