<div class="ui column">
  <div class="ui card" style="padding:1em">
    <h2>Edit your cover letter!</h2>
    <h3>Copy and paste the completed product into your word processor of choice for styling and saving!</h3>
  <div class="ui form">
  <div class="field">
    <label>Text</label>
    <textarea>{{Letters.id}}</textarea>
  </div>
</div>




