<div class="main-content">
    <div class="hero">
        <h1>Cover Letter Generator</h1>
    </div>
    <div class="ui middle aligned center aligned grid" style="height: 50vh;">
        <div class="column">
            <a href="/dashboard">
                <div class="ui inverted blue button">Get Started</div>
            </a>
        </div>
    </div>
</div>