<div class="main-content">
    <div class="hero">
        <h1>Maryze</h1>
    </div>
    <div class="ui middle aligned center aligned grid" style="height: 50vh;">
        
        <div class="column text-light">
        <h2> Whether youre just getting started or looking for a shift, we got you covered!</h3>
        <h2> Create Your Cover Letter Today!</h3>
            <a href="/dashboard">
                <div class="massive ui inverted blue button">Get Started</div>
            </a>
        </div>
    </div>
</div>