<div class="ui container">
<div class="ui mt-3">
  <h3 class="ui center aligned header text-light">Login</h3>
  <form id="login-form" class="ui form body">
    <label class="ui form label bg-dark text-light" for="username-login ">Username</label>
    <input id="username-login" type="text" autofocus="true" class="form-input" />

    
    <label class="ui form label bg-dark text-light" for="password-login" >Password</label>
    <input id="password-login" type="password" autofocus="true" class="form-input" />

    <div class="ui row">
    <button type="submit" class="btn btn-info mx-auto col-3 mt-3">Login!</button>
    <a class="btn btn-info mx-auto col-3 mt-3" href="/signup">Sign up instead</a>
    </div>
  </form>
</div>
</div>

