<div class="ui container">
<div class="ui border-info mt-3">
  <h3 class="ui center aligned header text-light">Login</h3>
  <form id="login-form" class="ui card body border border-info">
    <label class="ui form label bg-dark text-light" for="username-login ">Username</label>
    <input id="username-login" type="text" autofocus="true" class="form-input" />

    
    <label class="ui form label bg-dark text-light" for="password-login" >Password</label>
    <input id="password-login" type="password" autofocus="true" class="form-input" />

    <button type="submit" class="ui purple button text-light">Login!</button>
    <a class="ui button bg-info text-light" href="/signup">Sign up instead</a>
  </form>
</div>
</div>

<script src="/js/login.js"></script>