<div class="ui container">
  <h3 class="ui center aligned card header">Sign Up</h3>
  <form id="signup-form" class="ui card item">
    <label for="username-signup" class="ui form label">Username</label>
    <input id="username-signup" type="text" class="ui form input" />

    <label for="email-signup" class="ui form label">Email</label>
    <input id="email-signup" type="text" class="ui form input" />

    <label class="form-label" for="password-signup">Password</label>
    <input id="password-signup" type="password" class="form-input" />

    <button type="submit" class="ui inverted green button">Signup!</button>
    <a class="ui inverted yellow button" href="/login">Log in instead</a>
  </form>
</div>

<script src="/js/sign-up.js"></script>