<div class="ui container">
<div class="ui border-info mt-3">
  <h3 class="ui center aligned header text-light">Sign Up</h3>
  <form id="signup-form" class="ui card item">
    <label for="username-signup" class="ui form label bg-dark text-light">Username</label>
    <input id="username-signup" type="text" class="ui form input" />

    <label for="email-signup" class="ui form label bg-dark text-light">Email</label>
    <input id="email-signup" type="text" class="ui form input" />

    <label class="ui form label bg-dark text-light" for="password-signup">Password</label>
    <input id="password-signup" type="password" class="form-input" />

    <button type="submit" class="ui button bg-info text-light">Signup!</button>
    <a class="ui purple button text-light" href="/login">Log in instead</a>
  </form>
</div>

<script src="/js/sign-up.js"></script>