<div class="ui container">
  <div class="ui mt-3">
    <h3 class="ui center aligned header text-light">Sign Up</h3>
    <form id="signup-form" class="ui form item">
      <label for="username-signup" class="ui form label bg-dark text-light">Username</label>
      <input id="username-signup" type="text" class="ui form input" />

      <label for="email-signup" class="ui form label bg-dark text-light">Email</label>
      <input id="email-signup" type="text" class="ui form input" />

      <label class="ui form label bg-dark text-light" for="password-signup">Password</label>
      <input id="password-signup" type="password" placeholder="Password length must be 6+" class="form-input" />

      <div class="row">
        <button type="submit" class="btn btn-info mx-auto col-3 mt-3">Signup!</button>
        <a class="btn btn-info mx-auto col-3 mt-3" href="/login">Log in instead</a>
    </form>
  </div>